@use "../../sassStyles/variables";

.search {
  position: relative;
  height: calc(100% - variables.$navigationBarHeight);
  padding-top: 40px;
  box-sizing: border-box;

  &__info {
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
  }
}
