@use "../../../sassStyles/theme";

.newGroupForm {
  .customToggle {
    width: 60px;
    background: theme.$darkGrey;
    display: inline-block;
    padding: 13px 40px;
    cursor: pointer;
    border: 2px solid transparent;

    &.left {
      border-radius: 10px 0px 0px 10px;
    }

    &.right {
      border-radius: 0px 10px 10px 0px;
    }

    &.active {
      color: theme.$primaryBlue;
      border: 2px solid theme.$primaryBlue;
    }
  }

  &__privateLabel {
    font-size: 0.8rem;
    text-align: center;
    color: theme.$secondaryGrey;
  }

  button[type="submit"] {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
  }
}
