@use "../../sassStyles/theme";

.formInput {
  position: relative;
  margin-bottom: 15px;

  &__input {
    width: 100%;
    padding: 13px 15px;
    box-sizing: border-box;
    border-radius: 7px;
    outline: none;
    background: theme.$darkBackground;
    color: whitesmoke;
    border: 2px solid rgb(84, 88, 90);

    &:focus {
      border: 2px solid theme.$primaryBlue;
    }

    &.error {
      border: 2px solid theme.$errorText;
    }
  }
}
