@use "../../sassStyles/theme";

.loginForm {
  width: 300px;
  max-width: 100%;
  text-align: center;

  button {
    padding: 10px 45px;
    margin: 20px;
    cursor: pointer;
  }
}

.form__error {
  font-size: 13px;
  padding: 0px 5px;
  margin: 0;
  color: theme.$errorText;
}
