.home {
  height: 100%;
  background: rgb(15, 15, 15);
  width: 100%;
  height: 100%;
  overflow: hidden;

  h1 {
    margin: 0px;
  }
}

.home__title {
  width: 50%;
  padding-top: 50px;
  padding: 50px;
}

.home__topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  height: 100%;
}

.home__card {
  height: 400px;
}

.home__cards {
  position: relative;
  display: flex;
  padding-top: 50px;
  width: 750px;
  height: 450px;
}

.home__card1 {
  position: absolute;
  filter: brightness(0.06);
  animation: firstCard 10s infinite;
  animation-delay: 2s;
  top: 50px;
}

.home__card2 {
  z-index: 5;
  position: absolute;
  left: 200px;
  top: 0px;
  filter: brightness(0.06);
  animation: secondCard 10s infinite;
  animation-delay: 2s;
}

.home__card3 {
  position: absolute;
  filter: brightness(0.06);
  left: 420px;
  animation: thirdCard 10s infinite;
  animation-delay: 2s;
  top: 50px;
}

.home__projector {
  position: relative;
  top: 10px;
  img {
    position: relative;
    z-index: 11;
    height: 350px;
  }
}

.home__lightWrapper {
  position: absolute;
  top: -220px;
  left: 260px;
  filter: blur(15px);
  z-index: 10;
}

.home__light {
  width: 100vw;
  height: 700px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1) 70%,
    transparent
  );
  clip-path: polygon(0 60%, 0 50%, 100% 0, 100% 100%);
  opacity: 0;
  animation: display 0s 2s forwards;
}

@keyframes display {
  to {
    opacity: 1;
    filter: brightness(1);
  }
}

@keyframes firstCard {
  28% {
    z-index: 3;
  }
  30%,
  37% {
    z-index: 4;
    transform: translateX(400px);
    top: 50px;
    filter: brightness(0.06);
  }

  40% {
    z-index: 7;
  }

  66% {
    z-index: 7;
    transform: translateX(200px);
    top: 0px;
    filter: brightness(1);
  }

  87%,
  100% {
    z-index: 3;
    transform: translateX(0px);
    top: 50px;
    filter: brightness(0.06);
  }
}

@keyframes secondCard {
  0% {
    filter: brightness(1);
  }
  20%,
  33% {
    z-index: 3;
    transform: translateX(-200px);
    top: 50px;
    filter: brightness(0.03);
  }

  65% {
    z-index: 3;
  }

  70% {
    z-index: 4;
    transform: translateX(200px);
    top: 50px;
    filter: brightness(0.03);
  }

  77% {
    z-index: 7;
  }

  100% {
    z-index: 7;
    transform: translateX(0px);
    top: 0px;
    filter: brightness(1);
  }
}

@keyframes thirdCard {
  26% {
    z-index: 7;
  }

  33% {
    z-index: 7;
    transform: translateX(-200px);
    top: 0px;
    filter: brightness(1);
  }

  53%,
  66% {
    z-index: 3;
    transform: translateX(-400px);
    top: 50px;
    filter: brightness(0.06);
  }

  100%,
  3% {
    z-index: 2;
    transform: translateX(0px);
    top: 50px;
    filter: brightness(0.06);
  }
}

@media (max-width: 1400px) {
  .home__light {
    display: none;
  }
  .home__projector {
    display: none;
  }
  .home__cards {
    margin: auto;
  }
}

@media (max-width: 80px) {
  .home__cards {
    display: none;
  }
}
