$darkGrey: rgb(44, 43, 43);
$darkBackground: rgb(20, 20, 20);
$lightGrey: rgb(85, 81, 81);
$errorText: rgb(148, 46, 46);
$secondaryGrey: rgb(164, 164, 164);
$hoverGray: rgb(29, 29, 29);
$primaryBlue: rgb(13, 135, 184);
$primaryBlueHover: rgb(19, 164, 221);

$titleFontFamily: "Cormorant", serif;
$headerFontFamily: "Sen", sans-serif;
$buttonFontFamily: "Open Sans", sans-serif;
