@use "../../sassStyles/variables";

.movieList {
  display: grid;
  gap: variables.$movieCardGap;
  grid-template-columns: repeat(auto-fit, variables.$movieCardWidth);
  max-width: (4 * variables.$movieCardWidth) + (3 * variables.$movieCardGap);
  place-content: center;
  place-items: center;
  margin: auto;
}
