@use "../../sassStyles/variables";

.movieList {
  display: flex;
  gap: variables.$movieCardGap;
  flex-wrap: wrap;
  justify-content: center;
  max-width: (4 * variables.$movieCardWidth) + (3 * variables.$movieCardGap);
  margin: auto;

  &__pseudoEl {
    height: 0;
    width: variables.$movieCardWidth;
  }
}
