@use "../../sassStyles/theme";

$topSectionHeight: 60vh;

.movie__image {
    width: 100%;
    height: $topSectionHeight;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.12);
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.movie__details {
    height: $topSectionHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    max-width: 90vw;
    margin: auto;
    gap: 16px;

    .movie__title {
        font-size: 4.5em;
        margin: 0;
    }

    .movie__info {
        display: flex;
        gap: 20px;
        font-size: 1.2em;
        &>* {
            margin: 0;
        }
    }

    .movie__overview {
        max-width: 90vw;
        font-size: 1.1em;
        margin: 0;
    }
}

.cast__btn {
    display: block;
    margin-left: auto;
    
    &:after {
        content: "➤";
        display: inline-block;
        margin-left: 5px;
        font-size: 15px;
        transform: rotate(90deg);
    }
}

.cast__btn--close {
    &:after {
        transform: rotate(-90deg);
    }
}

.cast__container {
    max-width: 1190px;
    margin: auto;
    position: relative;
    padding: 0px 20px;
}

.cast__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.person__container {
    width: 190px;

    .person__image {
        background: theme.$darkGrey;
        height: 285px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        object-position: top;
    }

    .person__details {
        padding: 10px;
        text-align: center;
    }

    .person__name {
        margin: 0;
    }
}

.person__placeholder {
        font-size: 150px;
        padding: 40px 0px;
        color: transparent;  
        text-shadow: 0 0 0 theme.$lightGrey;   
}