@use "../../sassStyles/theme";

.btn {
  all: unset;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  font-family: theme.$buttonFontFamily;
  cursor: pointer;
  transition-duration: 0.4s;

  &.zoom {
    &:hover {
      transform: scale(1.1);
    }
  }

  &.md {
    padding: 10px 30px;
  }

  &.lg {
    padding: 20px 60px;
  }

  &.primary {
    background: theme.$primaryBlue;

    &.brighten {
      &:hover {
        background: theme.$primaryBlueHover;
      }
    }
  }

  &.transparent {
    background: transparent;
    border: 2px solid rgb(80, 76, 76);
    border-radius: 10px;
    color: white;

    &:hover {
      cursor: pointer;
      background: rgb(80, 76, 76);
    }

    &.--active {
      background: rgb(80, 76, 76);
    }
  }
}
