@use "../../sassStyles/theme";

.loginSignUpModal {
  width: 300px;
  max-width: 100%;
  text-align: center;

  &__changeFormBtn {
    all: unset;
    padding: 0px;
    cursor: pointer;
    color: theme.$secondaryGrey;

    &:hover {
      color: whitesmoke;
    }
  }

  .submitButton {
    margin: 20px 0px 35px 0px;
  }
}
