@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(20, 20, 20);
}

html,
body,
#root {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
