@use "../../sassStyles/theme";

$lightGreen: rgb(18, 202, 48);

.ratingCircle {
  height: 80px;
  width: 80px;

  &__rating {
    fill: none;
    stroke: #f73e10;
    stroke-width: 2;
    stroke-linecap: round;

    &.ok {
      stroke: #acbd12;
    }

    &.good {
      stroke: #2ca121;
    }
  }

  &__text {
    fill: theme.$secondaryGrey;
    font-size: 0.5rem;
    text-anchor: middle;
    font-weight: 500;
  }

  &__bg {
    fill: none;
    stroke: #585757;
    stroke-width: 3;
  }

  &.userRating {
    &:hover {
      cursor: pointer;

      .ratingCircle__text {
        fill: $lightGreen;
      }

      .ratingCircle__bg {
        stroke: $lightGreen;
      }
    }
  }
}
