@use "../../sassStyles/theme";
@use "../../sassStyles/variables";

$swiperSlideGap: 50px;
$widthSmall: 200px;
$widthMedium: variables.$recommendationCardWidth;

.swiperContainer {
  position: relative;
  width: 100%;
  user-select: none;
}

.swiper-slide {
  width: fit-content !important;
}

.swiper-btn-next,
.swiper-btn-prev {
  width: 40px;
  height: 40px;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 3px 3px 0px 0px;
  position: absolute;
  top: 120px;
  z-index: 3;
  cursor: pointer;

  &:hover {
    border-color: theme.$secondaryGrey;
  }
}

.swiper-btn-prev {
  left: -60px;
  transform: rotate(225deg);
}

.swiper-btn-next {
  right: -60px;
  transform: rotate(45deg);
}

.swiper-button-disabled {
  display: none;
}

.swiperContainer.md {
  width: (3 * $widthMedium) + (2 * $swiperSlideGap);
}

@media (max-width: 1650px) {
  .swiperContainer.md {
    width: (2 * $widthMedium) + $swiperSlideGap;
  }
}

@media (max-width: 1150px) {
  .swiperContainer.md {
    margin: auto;
    width: $widthMedium;
  }
}

@media (max-width: 650px) {
  .swiperContainer.md {
    margin: auto;
    width: variables.$recommendationCardWidthSmall;
  }
}

@media (max-width: 1120px) {
  .swiperContainer.sm {
    margin: auto;
    width: (3 * $widthSmall) + (2 * $swiperSlideGap);
  }
}

@media (max-width: 875px) {
  .swiperContainer.sm {
    width: (2 * $widthSmall) + $swiperSlideGap;
  }
}

@media (max-width: 615px) {
  .swiperContainer.sm {
    width: $widthSmall;
  }
}
