@use "../../../sassStyles/theme";

.ratingStars {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  user-select: none;

  h2 {
    margin: 0;
    font-size: 20px;
  }

  &__stars {
    display: flex;
    gap: 0px;

    &:not(.active) {
      .ratingStars__star.on {
        text-shadow: 0 0 0 gold;
      }
    }
  }

  &__star {
    cursor: pointer;
    font-size: 30px;
    color: transparent;
    text-shadow: 0 0 0 theme.$lightGrey;

    &.hovered {
      text-shadow: 0 0 0 gold;
    }

    &.on:not(.hovered) {
      text-shadow: 0 0 0 rgb(87, 76, 15);
    }

    &.hovered {
      text-shadow: 0 0 0 gold;
    }
  }
}
